/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100vh;
}
.auth-container {
    background-color: #efefef;
    height: 100% !important;
}

.auth-header-text {
    color: #EB5E28;
}
